// nextflow.config

// ----------------------------------------------------------------------------
// Global Process Defaults
// ----------------------------------------------------------------------------



// ----------------------------------------------------------------------------
// Parameters
// ----------------------------------------------------------------------------
params {
    // Control Flow
    run_id = null

    // Input
    sample_sheet = 'sample_sheet.csv'
    data_dir = 'data'
    maps_dir = null

    // Output
    results_dir = 'results'
}


// ----------------------------------------------------------------------------
// Docker Settings
// ----------------------------------------------------------------------------
docker {
    enabled = true
}

// ----------------------------------------------------------------------------
// Profiles
// ----------------------------------------------------------------------------
profiles {
    test {
        process {
            cpus = 1
            memory = '8 GB'
            time = '10m'
        }
    }

    cluster {
        process {
            cpus = 8
            memory = '8 GB'
            time = '12h'
        }
    }

    blast_test {
        process {
            cpus = 32
            memory = '100 GB'
            time = '16h'
        }
    }
}
