// nextflow.config

// ----------------------------------------------------------------------------
// Global Process Defaults
// ----------------------------------------------------------------------------



// ----------------------------------------------------------------------------
// Parameters
// ----------------------------------------------------------------------------
params {
    // Control flow
    run_id          = null

    // Input
    sample_sheet    = 'sample_sheet.csv'
    data_dir        = 'data'
    maps_dir        = null

    // Output
    results_dir     = 'results'
}


// ----------------------------------------------------------------------------
// Docker Settings
// ----------------------------------------------------------------------------
docker {
    enabled = true
}

// ----------------------------------------------------------------------------
// Profiles
// ----------------------------------------------------------------------------